

<main>
    <link rel="stylesheet" href="/public/common/common.css" type="text/css">
    <link rel="stylesheet" href="/public/pages/fonts.css" type="text/css">
    <link rel="stylesheet" href="/public/pages/admin/admin.css" type="text/css">

    <div>
        <ul>
            <li>Add Blog</li>
            <li>Change Pastor Image</li>
            <li>Upload Image</li>
            <li>Chnage video count</li>
            <li></li>
        </ul>
    </div>
</main>
