
<link rel="stylesheet" href="/public/common/header/header.css" type="text/css">

<header>
    <div id="logo"><a href="/"></a></div>
    <div id="navOptions">
        <div class="navBar"><b><a href="/church">Եկեղեցի</a></b></div>
        <div class="navBar"><b><a href="/our_services">Ծառայություններ</a></b></div>
        <div class="navBar"><b><a href="/videos/4">Տեսանյութեր</a></b></div>
        <div class="navBar"><b><a href="/donation">Նվիրաբերել</a></b></div>
        <div class="navBar"><b><a href="/visitUs">Այցելեք մեզ</a></b></div>
    </div>
    <div id="mobileNavToggle">
        <input id="toggle" type="checkbox">
        <label id="toggleLabel" for="toggle"></label>
    </div>
</header>


<dialog id="modalWrapper" class="modal-content">
    <div>
        <p><a href="/"><b>Սկիզբ</b></a></p>
    </div>
    <div>
        <p><a href="/church"><b>Եկեղեցի</b></a></p>
    </div>
    <div>
        <p><a href="/our_services"><b>Ծառայություններ</b></a></p>
    </div>
    <div>
        <p><a href="/videos/4"><b>Տեսանյութեր</b></a></p>
    </div>
    <div>
        <p><a href="/donation"><b>Նվիրաբերել</b></a></p>
    </div>
    <div>
        <p><a href="/visitUs"><b>Այցելեք մեզ</b></a></p>
    </div>
</dialog>
<script src="/public/common/header/header.js"></script>    






