


<main>
    <link rel="stylesheet" href="/public/common/common.css" type="text/css">
    <link rel="stylesheet" href="/public/common/preloader/preloader.css">
    <link rel="stylesheet" href="/public/pages/fonts.css" type="text/css">
    <link rel="stylesheet" href="/public/pages/admin-auth/admin-auth.css" type="text/css">
    <script defer src="/public/pages/admin-auth/admin-auth.js" defer></script>

    <div class="authorization">
        <h1>Admin Login</h1>
        <form id="loginForm">
            <div class="inputField">
                <label for="username"><h4>Username</h4> </label>
                <input id="username" name="username" type="text">
            </div>
            <div class="inputField">
                <label for="password"><h4>Password</h4> </label>
                <input id="password" name="password" type="password">
            </div>

            <button id="submit">Login</button>
        </form>
    </div>
</main>

