





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/public/common/preloader/preloader.css">
    <link rel="preload" href="/public/common/preloader/preloader.js" as="text/javascript">


</head>
<body>
    {{> preloader}}
    <link rel="stylesheet" href="/public/common/common.css" type="text/css">
    <link rel="preload" href="/public/fonts/Bainsley.ttf" as="font/ttf" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/fonts/fonts.css" type="text/css">

    {{> header}}

    <link rel="stylesheet" href="/public/pages/church/church.css" type="text/css">
    <main class="main">
        <div class="welcome">
            <h1>ԵԿԵՂԵՑԻ</h1>
            <div class="welcome__background"></div>
        </div>

        <section class="pastor">
            <div class="pastor__image"></div>
            <div class="pastor__info">
                <h2>Տիգրան Թադևոսյան</h2>
                <p><b>Հովիվ</b></p>
                <p>info@mysite.com</p>
            </div>
        </section>


        <section class="faith">
            <h3 class="faith__title">ՀԱՎԱՏՔԻ ՀԻՄՔԵՐԸ</h3>
            <div class="faith__container collapsed">
                <ul class="faith__section">
                    <li class="faith__section-item"><u class="faith__section-item--highlight">Աստվածաշունչ</u> - Մենք հավատում ենք, որ միայն և միայն  Աստվածաշունչն է ճշմարիտ Աստծո Խոսքը <i>(2 Տիմ. 3:16, 2 Պետ. 1:20-21):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Եռամեկություն</u> - Մենք հավատում ենք եռամեկության ուսմունքին՝ Հայր, Որդի« Հիսուս և Սուրբ Հոգի <i>(Ծննդ. 1:26, Մթ. 28:19, 3:16-17):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Հիսուս Քրիստոս</u> - Մենք հավատում ենք, որ Հիսուս Քրիստոսը Աստծո Որդին է: Երկրի վրա Նա ներկայացավ և՛ որպես ճշմարիտ Աստված, և որպես մարդ: Նա միակն էր, ով ապրեց առանց մեղքի <i>(Հովհ.1:1, 1:14, 20:28 և 1 Տիմ. 3:16):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Ծնունդը կույսից</u> - Մենք հավատում ենք, որ կույս Մարիամը ընդունեց Աստծուց Հիսուս Քրիստոսին՝ Սուրբ Հոգու միջոցով: Նրան անվանում են Աստծո Որդի, որովհետև Նա ծնվեց  Աստվածային Սուրբ Հոգուց <i>(Մթ. 1:18, 1:20, Ղուկ. 1:35):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Մեղքի մերժումը</u> - Յուրաքանչյուրի ձգտումն է դեպի Հիսուս Քրիստոսին, Նրա անունով մեղքերի թողության ընդունումը <i>(Գործք. 2:38, 3:19):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Սրբացումը</u> - Կատարյալ նվիրման պրոցեսն է Աստծուն, որպեսզի նմանվենք Քրիստոսին <i>(1 Թես. 4:3, 5:23):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Սրբացումը</u> - Հիսուս Քրիստոսին, Նրա մահվանն ու հարությանը հավատալով է: Փրկությունը Աստծո պարգև է, այն մեր բարի գործերով չէ և ոչ էլ մարդկային ձեռքբերումներով <i>(Գաղ. 2:16, Տիտ. 3:5):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Հիսուսի արյունը</u> - Որ թափվեց Գողգոթայի խաչի վրա, մաքրում է մեզ բոլոր մեղքերից: Հիսուսը վերցրեց աշխարհի բոլոր մեղքերը <i>(1 Հովհ. 1:7, Հայտ. 1:5, 5:9):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Քրիստոսը բնակվում</u> է բոլոր հավատացյալների մեջ: Քրիստոնյան այն մարդն է, որը խնդրում է Տեր Հիսուս Քրիստոսին մտնել և բնակվել իր սրտում: Քրիստոնյայի հույսը արդարացված է այն ամենով, ինչ արեց Քրիստոսն իր համար. Նա մահացավ, թաղվեց և հարություն առավ մեռելներից <i>(Հովհ. 14:17, 14:2, 1:12, 15:14):</i></li>
                </ul>

                <ul class="faith__section faith__section-hidden">
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Հարություն</u> - Մենք հավատում ենք, որ, խաչի վրա մահանալուց երեք օր հետո, Հիսուս Քրիստոս հարություն առավ մեռելներից: Կգա ժամանակ, երբ բոլոր Հիսուս Քրիստոսին հավատացողները նույնպես հարություն կառնեն, որպեսզի ստանան իրենց պարգևը՝ հավիտենական կյանք երկնքում` Աստծո մոտ <i>(Ղուկ. 24:36, 24:39, 1 Կորնթ. 15:42, 15:44):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Երկինքը</u> բոլոր հավատացյալների հավիտենական բնակության վայրն է <i>(2 Կորնթ. 5:1, 1 Պետրոս 1:4):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Դժոխք</u> - Մենք հավատում ենք, որ բոլոր մեղավորները  իրենց երկրային կյանքից հետո պետք է դատվեն Աստծո կողմից և ուղարկվեն դժոխք <i>(Եբր. 9:27, Մթ. 25:41):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Ջրի մկրտություն</u> - Աստծո Խոսքը ասում է` նրանք ովքեր հավատում են Տեր Հիսուս Քրիստոսին, պետք է մկրտվեն ջրով՝ Հիսուս Քրիստոսի անունով <i>(Մթ. 28:19, Հովհ. 1:26, Գործք. 2:38):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Խորհրդավոր ընթրիքը</u> - հիշողության հատուկ ժամանակ է Աստծո ներկայության մեջ:Հացը և  գինին խորհրդանշում են Հիսուս Քրիստոսի մարմինը և արյունը <i>(1 Կորնթ. 11:23-25, Մկ. 14:22-25):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Երկրորդ գալուստը</u> - Մենք հավատում ենք, որ Հիսուս Քրիստոսը  գալու է երկիր երկրորդ անգամ՝ Իր Արքայությունը հաստատելու համար: Նրա գալուստը տեսանելի է լինելու բոլորին: Կատարվելու օրը և ժամը Խոսքում չի բացված <i>(Հայտն. 1:7, Գործք. 1:9-11):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Հիվանդների բժշկություն</u> - Հիսուս Քրիստոսի ծառայության ընթացքում եղել են բազմաթիվ բժշկություններ: Հիսուսն Իր աշակերտներին հրամայեց նույնն անել: Սա նշաններից մեկն է, որն ուղեկցում է հավատացյալներին <i>(Մթ. 8:16-17, Գործք. 8:6-7, Մկ. 16:17-18):</i></li>
                    <li class="faith__section-item faith__section-hidden"><u class="faith__section-item--highlight">Սուրբ Հոգու մկրտությունը և օտար լեզուներով խոսելու պարգևը</u> - Տրված է Պենտեկոստեի օրը: Սա խոստմունք էր Հորից, որը կատարվեց Հիսուս Քրիստոսի հարությունից հետո՝  եկեղեցու ամրության և Ավետարանը ամբողջ աշխարհում քարոզելու համար: Նրա նպատակը հավատացյալների ամրապնդումը և անհավատներին նշաններ ցույց տալն է:  <i>(Գործք. 2:17, 2:38-39, Մկ. 16:17)</i></li>
                </ul>
            </div>
            <div class="faith__container-button" id="more-less-btn">Ավելին</div>
        </section>

        <section id="church-activity">
            <p class="church-activity__text">
                <b>«Նոր Սերունդ»</b> եկեղեցու գործունեության նպատակն է՝ քրիստոնեական արժեքների տարածումը հասարակության մեջ,
                մարդկանց հոգևոր լուսավորությունն ու աջակցությունը` մեղավոր ապրելակերպից հրաժարվելու,
                խաղամոլությունից, թմրամոլությունից և այլ կախվածություններից ազատվելու, ընտանիքները վերականգնելու հարցերում:
            </p>
        </section>


        <section class="church-serving-text">
            <h1 class="church-serving-text__content">
                Ծառայել Աստծուն նշանակում է ծառայել մարդկանց,
                ծառայել մարդկանց նշանակում է ծառայել հասարակությանը,
                ծառայել հասարակությանը նշանակում է ծառայել պետությանը։
            </h1>            
        </section>
    </main>

    {{> footer}}
</body>

    <script defer src="/public/pages/church/church.js"></script>
</html>

