<script src="/public/common/preloader/preloader.js"></script>
<div id="preloader">
    <div class="cross"></div>
    <div class="loader">
        <p class="verse">“The Lord is my shepherd; I shall not want.”</p>
        <span class="verse-reference">Psalm 23:1</span>
    </div>
</div>
