

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>videos</title>
    <link rel="stylesheet" href="/public/common/preloader/preloader.css">
    <link rel="preload" href="/public/common/preloader/preloader.js" as="text/javascript">
</head>
<body>
    {{> preloader}}

    <link rel="stylesheet" href="/public/common/common.css" type="text/css">
    <link rel="preload" href="/public/fonts/Bainsley.ttf" as="font/ttf" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/fonts/fonts.css" type="text/css">
    {{>header}}

    <link rel="stylesheet" href="/public/pages/videos/videos.css" type="text/css">
    <main class="videos-page">
        <div class="videos-page__background">
            <h1 class="videos-page__title">ՆՈՐ ՍԵՐՈՒՆԴԸ YOUTUBE-ՈՒՄ</h1>
        </div>
        <div class="videos-page__list">
            {{#each videos}}
            <div class="videos-page__video" data-video-id="{{snippet.resourceId.videoId}}">
                <div class="videos-page__wrapper" style="background: url('{{snippet.thumbnails.maxres.url}}') no-repeat; background-size: cover;">
                    <a href="/videos/id/{{snippet.resourceId.videoId}}" class="videos-page__link"></a>
                </div>
            </div>
            {{/each}}
        </div>
    </main>

    {{>footer}}
</body>
</html>



