<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="stylesheet" href="/public/common/preloader/preloader.css">
    <link rel="preload" href="/public/common/preloader/preloader.js" as="text/javascript">
</head>
<body>
    {{>preloader}}

    <link rel="stylesheet" href="/public/common/common.css" type="text/css">
    <link rel="preload" href="/public/fonts/Bainsley.ttf" as="font/ttf" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/fonts/fonts.css" type="text/css">

    {{>header}}
    <link rel="stylesheet" href="/public/pages/donate/donate.css" type="text/css">
    <main>
        <div id="backgroundBlock">
            <h1>
                ՆՎԻՐԱԲԵՐՈՒԹՅՈՒՆ
            </h1>
        </div>


        <div id="aboutDontation">
            <h1>
                Ի՞նչպես է հնարավոր նվիրաբերել և
                աջակցել մեր եկեղեցուն
            </h1>
            <h2>
                Եվ թագավորը կպատասխանի ու նրանց կասի. «Ճշմարիտ եմ ասում ձեզ.
                քանի որ իմ այս փոքր եղբայրներից մեկին արեցիք, ի՛նձ արեցիք»։
                <br>
                Մաթևոս 25:40
            </h2>
        </div>


        <div id="donationVariants">
            <div id="personally" class="donationVariant">
                <h2>ԱՆՁԱՄԲ</h2>
                <p>
                    Դուք կարող եք այցելել եկեղեցի կիրակնօրյա ծառայություններին
                    և անձամբ կատարել նվիրատվություն
                </p>
                <button id="manualDonate">Նվիրաբերել</button>
            </div>

            <div id="bankTransfer" class="donationVariant">
                <h2>ԲԱՆԿԱՅԻՆ ՓՈԽԱՆՑՈՒՄՈՎ</h2>
                <p>
                    Կարող եք կատարել բանկային փոխանցում
                    մեր հաշվեհամարներից որևէ մեկին
                </p>
                <button id="bankTransferButton">Նվիրաբերել</button>
            </div>

            <div id="electronicWallet" class="donationVariant">
                <h2>ԷԼԵԿՏՐՈՆԱՅԻՆ ԴՐԱՄԱՊԱՆԱԿՈՎ</h2>
                <p>
                    Կարող եք փոխանցում անել Idram, EasyWallet կամ
                    Telcell Wallet էլեկտրոնային դրամապանակներին
                </p>
                <button id="electronicWalletButton">Նվիրաբերել</button>
            </div>



            <dialog id="bankTransferModal" class="donation-modal-content">
                <span id="closeBankModal" class="closeModal"></span> 
                <button id="dollarDonateButton">ԱՄՆ Դոլարով</button>
                <button id="euroDonateButton">EURO-ով</button>
                <button id="rubleDonateButton">Ռուբլիով</button>
            </dialog>


            <dialog id="electronicWalletModal" class="donation-modal-content">
                <span id="closeElectronicWalletModal" class="closeModal"></span>
                <button id="idramQr">Idram</button>
                <button id="easyWalletQr">EasyWallet</button>
                <button id="telcellWalletQr">TelcellWallet</button>
            </dialog>
        </div>




        <dialog id="usdBankTransferModal" class="bankTransferVariant">
            <span id="closeUsdBankModal" class="closeModal">&times;</span>
            <h2>ԱՄՆ Դոլարով</h2>
            <p><strong>NAME:</strong> RAIFFEISEN BANK INTERNATIONAL AG</p>
            <p><strong>ADDRESS:</strong> Am Stadtpark 9 A -1030, Vienna Austria</p>
            <p><strong>SWIFT:</strong> RZBAATWW</p>
            <p><strong>ARMECONOMBANK OJSC ACCOUNT:</strong> No. 070-55.076.004</p>

            <h3>Beneficiary's Bank</h3>
            <p><strong>NAME:</strong> "TIGRAN METS" BRANCH of "ARMECONOMBANK" OJSC</p>
            <p><strong>ADDRESS:</strong> Republic of Armenia, 49 and 49 Bld.1, Tigran Mets Str, Yerevan, 0018, RA
            </p>
            <p><strong>SWIFT:</strong> ARECAM 22</p>
            <p><strong>NAME:</strong> New generation church</p>
            <p><strong>BENEFICIARY’S ACCOUNT N:</strong> 163288293216 (USD)</p>
        </dialog>





        <dialog id="euroBankTransferModal" class="bankTransferVariant"> 
            <span id="closeEuroBankModal" class="closeModal">&times;</span>
            <h2>EURO-ով</h2>
            <p><strong>NAME:</strong> RAIFFEISEN BANK INTERNATIONAL AG</p>
            <p><strong>ADDRESS:</strong> Am Stadtpark 9 A -1030, Vienna Austria</p>
            <p><strong>SWIFT:</strong> RZBAATWW</p>
            <p><strong>ARMECONOMBANK OJSC ACCOUNT:</strong> No. 070-55.076.004</p>

            <h3>Beneficiary's Bank</h3>
            <p><strong>NAME:</strong> "TIGRAN METS" BRANCH of "ARMECONOMBANK" OJSC</p>
            <p><strong>ADDRESS:</strong> Republic of Armenia, 49 and 49 Bld.1, Tigran Mets Str, Yerevan, 0018, RA
            </p>
            <p><strong>SWIFT:</strong> ARECAM 22</p>
            <p><strong>NAME:</strong> New generation church</p>
            <p><strong>BENEFICIARY’S ACCOUNT N:</strong> 163288293216 (EURO)</p>
        </dialog>





        <dialog id="rubleBankTransferModal" class="bankTransferVariant">
            <span id="closeRubleBankModal" class="closeModal"></span>
            <h2>Ռուբլիով</h2>
            <p><strong>NAME: </strong> Межгосударственный банк</p>
            <p><strong>ADDRESS: </strong> 115162, г. Москва, ул. Шухова, 15</p>
            <p><strong>SWIFT: </strong> INEARUMM</p>
            <p>К/С 30101810800000000362, БИК 044525362</p>
            <p>ИНН 7700076777</p>
            <p><strong>ARMECONOMBANK OJSC ACCOUNT:</strong> No. 070-55.076.004</p>

            <h3>БАНК ПОЛУЧАТЕЛЯ</h3>
            <p><strong>NAME: </strong> "АРМЭКОНОМБАНК (ОАО), ФИЛИАЛ "ТИГРАН МЕЦ"</p>
            <p><strong>ADDRESS: </strong>Армения, 0018, г Ереван, пр. Тигран Мецца, дом 49, строения 1</p>
            <p><strong>SWIFT: </strong> ARECAM 22</p>
            <strong>ПОЛУЧАТЕЛ</strong>
            <p><strong>NAME: </strong> New generation church</p>
            <p><strong>BENEFICIARY’S ACCOUNT N: </strong>BENEFICIARY’S ACCOUNT N: 163288293232 (RUR)</p>
        </dialog>



        <dialog class="qrModal" id="easyWalletModal">
            <h2>Easy Wallet ID: 12345678</h2>
            <span id="closeEasyWalletModalBtn" class="closeModal"></span>
            <div class="qrCodeBackground"></div>
        </dialog>


        <dialog class="qrModal" id="IdramWalletModal">
            <h2>Idram Wallet ID: 12345678</h2>
            <span id="closeIdramModalBtn" class="closeModal"></span>
            <div class="qrCodeBackground"></div>
        </dialog>


        <dialog class="qrModal" id="telcellWalletModal">
            <h2>Telcell Wallet ID: 12345678</h2>
            <span id="closeTelcellModalBtn" class="closeModal"></span>
            <div class="qrCodeBackground"></div>
        </dialog>
    </main>

    {{>footer}}


    <script defer src="/public/pages/donate/donate.js"></script>
</body>
</html>
    
    
